* {
    padding: 0px;
    margin: 10px;
    font-size: 20px;
}

a {
    text-decoration: #07c1f0;
    color: black;
    font-size: larger;
    font-style:normal
}

h1 {
    background-color: #d4d8ee;
    height: 80%;
    width: 200px;

}

body {
    
    background: url(img/fundoazul.png);
    background-size: 100%;

}

ul {
    list-style: none;

}

img {
    width: 80px;
}

input[type="checkbox"] {
    display: none;
}

nav {
    
    width: 255px;
    height: 100%;
    nav-left: -255px;
    position: absolute;
    transition: all.8s;
}

input[ type="checkbox"]:checked nav {
    transform: translateX(255);
}

ul {
    background-color: #070592f6;
    top: 100px;
    position: absolute;
    width: 150%;
}


a {

    display: inline block;
    padding: 20px 8px;
    color: #e0e4fa;

}

a:hover {
    font-size: 18px;
    text-decoration: solid #030227f6;
    background-color: #5687f0;
    color: black;
}

label {

    padding: 20px;
    position: absolute;
    z-index: 1;
}

